@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Bitter|Mitr&display=swap');

/* ALL */
section {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

.hr-title {
    background-color: #47bec9;
    height: 4px;
    width: 5%;
    border-radius: 10px;
}

body {
    font-family: "Baloo Bhai", cursive !important;
}

/* Button */
.draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #47bec9;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #47bec9;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* Button END */